body{
	font-family:Verdana, bold, sans-serif;
	width:50%;
	margin-left:%;
	margin-bottom:40px;
    background-color: antiquewhite
}

h1{color: #ff5733;} 
h2{font-size: 12px;
text-decoration: underline}

